html,
body,
header {
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 0;
}

#container {
  min-height: 100%;
  position: relative;
}
#body {
  padding-bottom: 110px;
}

footer {
  position: absolute;
  bottom: 0;
  widows: 100%;
  height: 110px;
}

body {
  font-family: Helvetica, Arial;
  background-image: url("../images/whitediamond.png");
  background-repeat: repeat;
}


/* shows a pointer cursor when hovering over links to help with accessibility */

a {
  cursor: pointer;
}


/* removing default ul styles for menu, pos: rel for moving content down the page when menu is expanded */

nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}


/* Styling the links */

nav a {
  display: block;
  padding: 14px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #ed2198;
}


/* hides the checkbox toggle*/

.toggle,
[id^=drop] {
  display: none;
}


/* shows nav after last item so desktop nav fills the width*/

nav:after {
  content: "";
  display: table;
  clear: both;
}


/*
nav ul li ul li:hover { background: #c40775; }
*/


/* Background color change on Hover */


/*
nav a:hover { 
	background-color: #c40775; 
}
*/

section {
  margin: 1em 0 1em 0;
  padding: 0;
  background: #f6f6f6;
  display: inline-block;
  width: 100%;
}

section:hover {
  background: white;
}


/* MOBILE BREAKPOINT */

@media screen and (max-width: 449px) {
  body {
    background-size: 20px;
  }
  header {
    height: 100px;
    text-align: center;
  }
  nav {
    background: #e00b86;
    /*    visibility: hidden;*/
  }
  ul {
    list-style: none;
  }
  /*  hides the menu items */
  .toggle+a,
  .menu {
    display: none;
  }
  /*  styles the toggle 'Menu'*/
  .toggle {
    display: block;
    background-color: #e00b86;
    padding: 14px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    border: none;
  }
/*  Menu hover change color*/
  .toggle:hover {
    background-color: #555;
  }
/*  when menu is checked -> display menu items*/
  [id^=drop]:checked+ul {
    display: block;
  }
/*  set width of list items to full width*/
  nav ul li {
    width: 100%;
  }
/*  set list item hover to change color of item*/
  nav a:hover {
    background-color: #999;
  }

  main {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
  }
  img#logo {
    margin: 10px 10px 10px 50px;
    border: 0;
    padding: 0;
    height: 80px;
    width: 80px;
    float: left;
  }
  img#introimage {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
  }
  section {
    min-height: 150px;
  }
  footer {
    margin: 0;
    border: 0;
    padding: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    float: left;
    background: #aaa;
  }
  h1 {
    margin: 0;
    border: 0;
    padding-top: 25px;
    padding-right: 70px;
    display: grid;
    font-size: 20px;
    color: #e00b86;
  }
  span {
    padding-top: 2px;
    color: #000;
  }
  h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  button {
    margin: 5px;
    /*    large enough buttons to tap on without mistake */
    width: 35%;
    height: 38px;
    background: white;
    border-color: black;
    border-width: 2px;
    font-size: 15px;
    color: #e00b86;
    border-radius: 5px;
  }
  .intro p {
    display: inline-block;
    padding: 5px;
  }
  .contact p {
    padding: 20px;
    width: 60%;
    margin: auto;
    color: #444;
  }
  
  a#footer {
    color: red;
  }
  .footer h1 {
    margin: 0;
    border: 0;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    display: grid;
    font-size: 16px;
    color: #e00b86;
  }
  #h1footer1 {
    color: white;
  }
  .footer a {
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  footer {
    margin-bottom: 0px;
    height: 110px;
    width: 100%;
    background: #e00b86;
  }
}


/*
@media screen and (max-width:1199px) {
       #header { display:block !important; }
}
*/


/* DESKTOP BREAKPOINT  */

@media screen and (min-width: 450px) {
  body {
    min-width: 1000px;
    max-width: 1000px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-size: 80px;
  }
  header {
    height: 110px;
  }
  main {
    margin: 0;
    text-align: center;
    padding: 2px;
  }
  img#logo {
    margin: 10px 30px 10px 100px;
    border: 0;
    padding: 0;
    height: 90px;
    width: 90px;
    float: left;
  }
  nav {
    background: #ed2198;
  }
  section {
    min-height: 120px;
  }
  h1 {
    margin: 0;
    border: 0;
    padding-top: 19px;
    display: grid;
    font-size: 30px;
    color: #e00b86;
  }
  span {
    padding-top: 2px;
    color: #000;
  }
  button {
    margin: 10px;
    width: 12%;
    height: 35px;
    background: white;
    border-color: black;
    border-width: 2px;
    font-size: 15px;
    color: #e00b86;
    border-radius: 5px;
  }
  img {
    width: 100%;
  }
  .contact p {
    padding: 20px;
    width: 60%;
    margin: auto;
    color: #444;
  }
  .footer h1 {
    margin: 0;
    border: 0;
    padding-top: 20px;
    text-align: center;
    display: grid;
    font-size: 20px;
    color: #e00b86;
  }
  #h1footer1 {
    color: white;
  }
  .footer a {
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  footer {
    height: 120px;
    width: 100%;
    display: block;
    background: #e00b86;
  }
}


/* TABLET BREAKPOINT */


/*
@media screen and (min-width: 450px) and (max-width: 999px) {
  body {
    background-size: 60px;
  }
*/


/*
  main {
    margin: 0 auto;
    background: #eee;
    text-align: center;
    padding: 2px;
  }
*/


/*
  nav {
    float: left;
  }
  img#logo {
    margin: 10px;
    border: 0;
    padding: 0;
    height: 80px;
    width: 80px;
    float: left;
  }
  
*/


/*
  section {
    font-size: 1em;
    background: #888;
    width: 22%;
    margin: 1em 1% 1em 1%;
    display: inline-block;
  }
  section:hover {
    background: darkgreen;
  }
  
  h2 {
    font-size: 2.3em;
  }
*/


}